body {
  max-height: 100vh;
  position: relative;
  background-color: #ECEFF1;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  z-index: 2;
}

.header-icon {
  font-size: 25px;
  margin: 10px;
  color: #757575;
}

.header-icon:hover {
  color: #757575;
  text-shadow: 0 0 3px lightblue;
  color: #757575;
}

.nav-button {
  margin: 10px;
  text-decoration: underline;
  color: #757575;
  font-weight: bold;
}

.nav-button:hover {
  color: #0FA0CE;
}

.nav-button.active {
  color: red;
}

.options-bar {
  display: flex;
  box-sizing: border-box;
}
.content {
  padding-top: 50px;
  background-color: white;
  min-height: 100vh;
}

.title {
  margin: 0px;
}

.login-bar {
  display: flex;
  align-items: center;
}

.user-name {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  padding: 10px;
  font-size: 16px;
}

.login-bar button {
  margin: 0px;
}

hr {
  margin: 5px;
}

.card {
  border: 1px solid #E0E0E0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 5px;
  padding: 15px;
  position: relative;
}

.new-game-form {
  width: 100%;
}

::-webkit-inner-spin-button { display: none; }
/****    Dashboard    ****/
.dashboard {
  text-align: center;
}
/****    Scoreing page    ****/
.score-game {
  background-color: white;
  display: flex;
  max-width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.team-table-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.centre-column {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-timer {
  height: 140px;
}

.scores-board {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.game-score {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}

.team-logo {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game-timer .timer {
  border: 1px solid black;
  padding: 5px;
}

.game-timer-icon {
  font-size: 30px;
}

/****    Event Buttons    ****/
.event-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 90%
}

.event-button {
  width: 80px;
  padding: 0 5px;
  flex-grow: 1;
  margin: 3px;
}

.event-button.event-pending {
  color: red;
  border-color: red;
}

/****    Event Table    ****/
.event-table {
  margin: 0;
  padding: 0;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  height: 120px;
}

.event-table .heading {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 1px 3px #E0E0E0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.event-table .events {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-table .event:hover {
  text-decoration: underline;
}

/****    Team Table    ****/
.team-table.table {
  padding: 0;
  margin: 5px;
  border: 1px solid #E0E0E0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.team-table.row {
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  flex-grow: 1;
}

.team-table.row:last-child {
  border-bottom: none;
}

.team-table {
  font-size: 20px;
}

.team-table.title {
  text-align: center;
  flex-grow: 1;
}

.team-table.num {
  width: 30px;
  text-align: center;
  border-right: 1px solid #E0E0E0;
}

.team-table.goal {
  flex-grow: 1;
  text-align: center;
  width: 120px;
  border-right: 1px solid #E0E0E0;
}

.team-table.penalties {
  flex-grow: 1;
  text-align: center;
  width: 40px;
}

.delete-game-icon {
  font-size: 20px;
  margin: 10px;
  color: #757575;
  position: absolute;
  right: 0;
  top: 0;
}
