body {
  margin: 0px;
  max-height: 100vh;
  position: relative;
  background-color: #ECEFF1;
}

.content {
  padding-top: 50px;
  background-color: white;
  min-height: 100vh;
}

.container {
  max-width: 1020px;
}