.table {
  .number {
    text-align: center;
  }
}

.player-input {
   input {
    border: none;
    border-bottom: 1px solid #E5E5E5;
  }
  .number {
    width: 40px;
  }
  .mobile {
    width: 140px;
  }
  .dob {
    width: 130px;
  }
}