.game-card {
  padding: 0px;
  .card-content {
    min-height: 100px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    .game-teams {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      .team-name {
        width: 50px;
        flex-grow: 1;
      }
    }
  }
}

.card-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  .score {
    font-family: score-board;
    text-align: center;
    font-size: 50px;
    width: 80px;
    color: yellow;
    text-shadow: 0 0 1px;
    background-color: #310e00;
    padding-left: 3px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px black;
    margin: 0px 15px;
  }
}
