.game-card {
  border-radius: 5px;
  padding: 0px;
  .card-content {
    min-height: 100px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    .game-teams {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      .team-name {
        width: 50px;
        flex-grow: 1;
      }
    }
  }
}

.card-heading {
  height: 40px;
  background-color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 15px;
}

.card-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  .score {
    font-family: score-board;
    text-align: center;
    font-size: 50px;
    width: 80px;
    color: yellow;
    text-shadow: 0 0 1px;
    background-color: #310e00;
    padding-left: 3px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px black;
  }
}

.card-options {
  height: 40px;
  background-color: #F0F0F0;
  border-top: 1px solid #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  .card-options-icon {
    font-size: 20px;
    color: #757575;
  }
}
