.new-game-form {
  width: 100%;
}

::-webkit-inner-spin-button { display: none; }

.delete-game-icon {
  font-size: 20px;
  margin: 10px;
  color: #757575;
  position: absolute;
  right: 0;
  top: 0;
}