/****    Scoreing page    ****/
.score-game {
  background-color: white;
  display: flex;
  max-width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.team-table-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.centre-column {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-timer {
  height: 140px;
}

.scores-board {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.game-score {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}

.team-logo {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game-timer .timer {
  border: 1px solid black;
  padding: 5px;
}

.game-timer-icon {
  font-size: 30px;
}

/****    Event Buttons    ****/
.event-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 90%
}

.event-button {
  width: 80px;
  padding: 0 5px;
  flex-grow: 1;
  margin: 3px;
}

.event-button.event-pending {
  color: red;
  border-color: red;
}

/****    Event Table    ****/
.event-table {
  margin: 0;
  padding: 0;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  height: 120px;
}

.event-table .heading {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 1px 3px #E0E0E0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.event-table .events {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-table .event:hover {
  text-decoration: underline;
}

/****    Team Table    ****/
.team-table.table {
  padding: 0;
  margin: 5px;
  border: 1px solid #E0E0E0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.team-table.row {
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  flex-grow: 1;
}

.team-table.row:last-child {
  border-bottom: none;
}

.team-table {
  font-size: 20px;
}

.team-table.title {
  text-align: center;
  flex-grow: 1;
}

.team-table.num {
  width: 30px;
  text-align: center;
  border-right: 1px solid #E0E0E0;
}

.team-table.goal {
  flex-grow: 1;
  text-align: center;
  width: 120px;
  border-right: 1px solid #E0E0E0;
}

.team-table.penalties {
  flex-grow: 1;
  text-align: center;
  width: 40px;
}