/****    Scoreing page    ****/
.score-game {
  background-color: white;
  display: flex;
  max-width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.team-table-column {
  // flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.centre-column {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.scores-board {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.game-score {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}

.team-logo {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-timer {
  margin: 10px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // flex-grow: 1;
}

.game-timer .timer {
  font-family: score-board;
  font-size: 90px;
  line-height: 75px;
  color: yellow;
  text-shadow: 0 0 1px;
  background-color: #310e00;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 3px 5px black;
  padding: 15px;
}

.game-timer-icon {
  font-size: 50px;
}

.adjust-clock {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.game-status {
  height: 50px;
  font-size: 30px;
}

/****    Event Buttons    ****/
.event-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 90%
}

.event-button {
  width: 80px;
  padding: 0 5px;
  flex-grow: 1;
  margin: 3px;
}

.event-button.event-pending {
  color: red;
  border-color: red;
}

/****    Event Table    ****/
.event-table {
  margin: 0;
  padding: 0;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  height: 150px;
}

.event-table .heading {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 1px 3px #E0E0E0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.event-table .events {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-table .event:hover {
  text-decoration: underline;
}

.heading > .event-row {
  padding-right: 15px;
}

.event-row {
  width: 100%;
  min-height: 25px;
  display: flex;
  justify-content: space-between;
}

.event-row.editing {
  min-height: 50px;
  background-color: #ECEFF1;
  line-height: 50px;
}

.event-cell {
  width: 50px;
  flex-grow: 1;
  text-align: center;
}

.event-cell.delete {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 20px;
  }
}

.event-cell > input {
  border: none;
  width: 50px;
  height: 50px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  background-color: inherit;
  padding: 0;
  margin: 0;
}
